#header {
  text-align: center;
  width: 100%;
  background-color: black;
  opacity: .8;
  padding: 10px 0px;
  color: white;
}

#headerH {
  text-align: center;
  margin-right: 100px;
}

#headerButton {
  float: left;
  margin-left: 10px;
  width: 100px;
  margin-top: 5px;
}
