table {
  width: 70%;
  margin: 0 auto;
}

#headerRow {
  font-weight: bold;
  vertical-align: bottom;
  font-size: 18px;
}

.tdWide {
  padding-right: 10%;
}

.tdNarrow {
  padding-right: 5%;
}

tr {
  border-bottom: .5px solid rgba(49, 49, 49, 0.171);
  text-align: center;
  font-size: 16px;
}

tbody td {
  height: 50px;
  vertical-align: middle;
}

#editBtn {
  background-color: rgb(152, 240, 152);
  color: rgb(99, 99, 99);
  font-size: 14px;
}

#editBtn:hover {
  background-color: rgb(99, 99, 99);
  color: rgb(152, 240, 152);
}

#deleteBtn {
  background-color: rgb(253, 94, 94);
  color: rgb(63, 63, 63);
  font-size: 14px;
}

#deleteBtn:hover {
  background-color: rgb(63, 63, 63);
  color: rgb(253, 94, 94);
}