table {
  width: 60%;
  margin: 0 auto;
}

#headerRow {
  font-weight: bold;
}

.tdWide {
  padding-right: 10%;
}

.tdNarrow {
  padding-right: 5%;
}

tr {
  border-bottom: .5px solid lightgrey;
  text-align: center;
  font-size: 18px;
}

td {
  height: 40px;
  vertical-align: middle;
}

#editBtn {
  background-color: rgb(152, 240, 152);
  color: rgb(99, 99, 99);
}

#editBtn:hover {
  background-color: rgb(99, 99, 99);
  color: rgb(152, 240, 152);
}

#deleteBtn {
  background-color: rgb(253, 94, 94);
  color: rgb(63, 63, 63);
}

#deleteBtn:hover {
  background-color: rgb(63, 63, 63);
  color: rgb(253, 94, 94);
}